
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes WeatherIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px outset #add8e6;
  background-color: #add8e6;
  padding: 20px;
  height: 350px;
  width: 600px;
  margin: 50px auto;
}
.handle-submit {
  font-size: 50px;
}
.list {
  list-style: none;
  margin-left: -20px;
}
